<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <p>Select your gender:</p>
        <%- include('radio_btn', locals.gender ) %>
        <form method="POST">
            Wartos패c패 z ciastka1: <%= cookieValue %> 
            <br>
            Wartos패c패 z session: <%= sessionValue %>
            <br>
            <button>Zapisz</button>
        </form>
    </body>
</html>