<!DOCTYPE html>
<html lang = "pl">
    <head>
        <meta charset="utf-8"/>
        <title>download</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <style>
            body{
                margin: 3em;
            }
        </style>
    </head>
    <body>
        <h1>Content-Dispositon Header</h1>
        <h2>Download some very important data by clicking a button</h2>
        <form method="POST" action="/">
            <input type="submit" class="btn btn-primary" value="Download" />
        </form>
    </body>